<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <h1 class="logo"><a href="{{ site.url }}">Without A Path</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="{{ site.url }}/assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav class="nav-menu d-none d-lg-block">

      <ul>
        <li class="active"><a href="{{ site.url }}">Home</a></li>

        <li class="drop-down"><a href="#">About</a>
          <ul>
            <li><a href="https://joebaur.com/about/">About Joe</a></li>
            <li><a href="https://joebaur.com/articles/">Articles</a></li>
            <li><a href="{{ site.url }}/press/">Press</a></li>
          </ul>
        </li>
        <li class="drop-down"><a href="#">Blog</a>
          <ul>
            <li class="drop-down"><a href="#">Travel Guides</a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Topic</a></li>
            <li><a href="#">Topic</a></li>
            <li><a href="#">Topic</a></li>
        </li>
        <li><a href="https://traveltomorrowpod.com/">Podcast</a></li>
        <li><a href="https://joebaur.com/talking-tico-costa-rica-travel-book/">Talking Tico</a></li>
        <li><a href="#">There Must Be Order</a></li>
        <li><a href="{{ site.url }}/contact/">Contact</a></li>

      </ul>

    </nav><!-- .nav-menu -->

    <a href="{{ site.url }}/subscribe/" class="get-started-btn ml-auto">Subscribe</a>

  </div>
</header><!-- End Header -->