<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <h1 class="logo"><a href="{{ site.url }}">Without A Path</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="{{ site.url }}/assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav class="nav-menu d-none d-lg-block">

    </nav><!-- .nav-menu -->

    <nav class="nav-menu d-none d-lg-block 2">
      <ul>
        <li class="drop-down"><a href="#">Travel</a>
          <ul>
            <li><a href="{{ site.url }}/category/africa/">Africa</a></li>
            <li><a href="{{ site.url }}/category/asia/">Asia</a></li>
            <li><a href="{{ site.url }}/category/caribbean/">Caribbean</a></li>
            <li><a href="{{ site.url }}/category/central-america/">Central America</a></li>
            <li><a href="{{ site.url }}/category/europe/">Europe</a></li>
            <li><a href="{{ site.url }}/category/middle-east/">Middle East</a></li>
            <li><a href="{{ site.url }}/category/north-america/">North America</a></li>
            <li><a href="{{ site.url }}/category/oceania/">Oceania</a></li>
            <li><a href="{{ site.url }}/category/south-america/">South America</a></li>
          </ul>
        </li>
        <li><a href="{{ site.url }}/category/outdoors/">Outdoors</a></li>
        <li><a href="https://traveltomorrowpod.com/">Podcast</a></li>
        <li><a href="https://joebaur.com/talking-tico-costa-rica-travel-book/">Talking Tico</a></li>
        <li><a href="{{ site.url }}/category/there-must-be-order/">There Must Be Order</a></li>
        <li class="drop-down"><a href="#">About</a>
          <ul>
            <li><a href="{{ site.url }}/about/">About Joe</a></li>
            <li><a href="https://joebaur.com/articles/">Articles</a></li>
            <li><a href="{{ site.url }}/press/">Press</a></li>
            <li><a href="{{ site.url }}/contact/">Contact</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <a href="#mailmunch-pop-452598" class="get-started-btn ml-auto">Subscribe</a>

  </div>
</header><!-- End Header -->