<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
  <div class="container">

    <div class="section-title">
      <h2>Blog</h2>
      <p>Recent articles</p>
    </div>

  	<div class="row">
      {% for post in paginator.post limit:6 %}
      {% if post.homepage == false %}
      {% include postbox-vertical.html %}
      {% endif %}
      {% endfor %}
    </div>

    {% include pagination.html %}

    <div class="text-center"><a class="btn btn-primary" href="{{ site.url }}/blog/" role="button">Read More on the Blog</a></div>

  </div>
</section>
