<div class="social-links"> 
	<a href="https://twitter.com/baurjoe" target="_blank" rel="noopener noreferrer">
		<i class="icofont-twitter"></i>
	</a>
	<a href="https://facebook.com/baurjoe" target="_blank" rel="noopener noreferrer">
		<i class="icofont-facebook"></i>
	</a> 
	<a href="https://instagram.com/baurjoe" target="_blank" rel="noopener noreferrer">
		<i class="icofont-instagram"></i>
	</a> 
	<a href="https://youtube.com/mildlyrelevant" target="_blank" rel="noopener noreferrer">
		<i class="icofont-youtube"></i>
	</a> 
</div>